* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #252525;
  background-color: #065d8f;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #00807a;
  border: 1px solid #00807c;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #ac8e14;
  border-color: #ac9314;
}
